header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: -webkit-sticky; /* For Safari on iOS 7+ */
    position: sticky; /* Standard syntax */
    z-index: 1;
    top: 0;
    background-color: #fff;
}
